<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="connection.url">
            jdbc:postgresql://localhost:5432/sa
        </property>
        <property name="connection.username">pd</property>
        <property name="connection.password">pd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <!--<property name="hibernate.show_sql">true</property>-->
        <mapping class="ru.innopolis.entity.user.Client"/>
        <mapping class="ru.innopolis.entity.user.Credentials"/>
        <mapping class="ru.innopolis.entity.user.Manager"/>
        <mapping class="ru.innopolis.entity.user.UserInfo"/>
        <mapping class="ru.innopolis.entity.Tour"/>
        <mapping class="ru.innopolis.entity.Booking"/>
        <mapping class="ru.innopolis.entity.Tag"/>
    </session-factory>
</hibernate-configuration>