<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <display-name>tourId-in-Japan</display-name>

    <!--Сервлеты-->
    <servlet>
        <servlet-name>create-client</servlet-name>
        <servlet-class>ru.innopolis.controller.client.CreateClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>create-manager</servlet-name>
        <servlet-class>ru.innopolis.controller.manager.CreateManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>clients</servlet-name>
        <servlet-class>ru.innopolis.controller.client.GetAllClientServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>create-booking</servlet-name>
        <servlet-class>ru.innopolis.controller.booking.CreateBookingServlet</servlet-class>
    </servlet>



    <!--Маппинги-->
    <servlet-mapping>
        <servlet-name>create-client</servlet-name>
        <url-pattern>/create-client</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
    <servlet-name>create-manager</servlet-name>
        <url-pattern>/create-manager</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>clients</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>create-booking</servlet-name>
        <url-pattern>/create-booking</url-pattern>
    </servlet-mapping>

</web-app>